<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogActivityChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <LogActivityChecker.Properties.Settings>
            <setting name="DailyErrorLimit" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CheckInterval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="InactivityLimit" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="OnErrorProcess" serializeAs="String">
                <value>echo</value>
            </setting>
            <setting name="OnErrorProcessArguments" serializeAs="String">
                <value>Process run!</value>
            </setting>
        </LogActivityChecker.Properties.Settings>
    </applicationSettings>
</configuration>